1.Print

In [ ]:
age = 35
print(age%5 == 0 and age%7 == 0) # divisible by 5 and 7
print(age%5 == 0 or age%7 == 0) #divisible by 5 or 7
print((age%5 == 0) and (age%7 == 0) and (age%9 != 0)) # not divisible by 9
print(((age%5 == 0) and (age%7 == 0) and (age%9 != 0)) and (age%2 == 0 )) #even

True
True
True
False

even or odd

In [ ]:
# Program to check if a number is even or odd

num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is Even.")
else:
    print(f"{num} is Odd.")

Enter a number: 25
25 is Odd.

In [ ]:

num = int(input("Enter a number: "))


if num >= 0 and num <= 100:
    print("The number is within the range (0-100).")


    if (num % 5 == 0 and num % 7 == 0) and not (num % 9 == 0):
        print("The number is divisible by 5 and 7 but not by 9.")
    else:
        print("The number does NOT meet the divisibility conditions.")
else:
    print("The number is OUT of the range (0-100).")

Enter a number: 35
The number is within the range (0-100).
The number is divisible by 5 and 7 but not by 9.

In [ ]:

num = int(input("Enter a number: "))

if 0 <= num <= 100:


    if (num % 5 == 0) and (num % 7 != 0) and (num % 9 != 0):
        print("5-5: Divisible by 5 but NOT by 7 and 9.")

    elif (num % 7 == 0) and (num % 5 != 0) and (num % 9 != 0):
        print("7-7: Divisible by 7 but NOT by 5 and 9.")

    elif (num % 9 == 0) and (num % 5 != 0) and (num % 7 != 0):
        print("9-9: Divisible by 9 but NOT by 5 and 7.")

    elif (num % 5 == 0) and (num % 7 == 0) and (num % 9 != 0):
        print("(5,7): Divisible by 5 and 7 but NOT by 9.")

    elif (num % 5 == 0) and (num % 9 == 0) and (num % 7 != 0):
        print("(5,9): Divisible by 5 and 9 but NOT by 7.")

    elif (num % 7 == 0) and (num % 9 == 0) and (num % 5 != 0):
        print("(7,9): Divisible by 7 and 9 but NOT by 5.")

    else:
        print("The number does not meet any condition.")

else:
    print("The number is OUT of the range (0-100).")

Enter a number: 101
The number is OUT of the range (0-100).

In [ ]:
n = 19
for i in range(n,n*10+1,n):
  print (i)

19
38
57
76
95
114
133
152
171
190

In [ ]:
n = 5
for i in range(11,1,-1):
  print (i*n)

55
50
45
40
35
30
25
20
15
10

In [ ]:
n = 19
for i in range(n*10,n-1,-1):
  print (i)

190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19

find number between 1-100 which is divisible by 5 and 7

In [ ]:

for i in range(1,100):
  if(i%5==0 and i%7==0):
    print (i)

35
70

sum of first 1000 natural numbers

In [ ]:
num = 0

for i in range(1, 1001):
    num += i

print("Sum of first 1000 natural numbers:", total)

Sum of first 1000 natural numbers: 500500

In [ ]:
n = 1000
total = n * (n + 1) // 2

print("Sum of first 1000 natural numbers:", total)

Sum of first 1000 natural numbers: 500500

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print(f"{num} is not a prime number.")
else:
    is_prime = True

    # Loop from 2 to square root of num
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break


    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 13827197617
13827197617 is not a prime number.

In [ ]:
for number in range(1, 1001):
    if number > 1:
        for i in range(2, int(number**0.5) + 1):
            if number % i == 0:
                break
        else:
            print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
prime_count = 0

for number in range(1, 1001):
    if number > 1:
        for i in range(2, int(number**0.5) + 1):
            if number % i == 0:
                break
        else:
            prime_count += 1

print("Total prime numbers between 1 and 1000:", prime_count)

Total prime numbers between 1 and 1000: 168

In [ ]:
sample_space = [(die1, die2)
                for die1 in range(1, 7) for die2 in range(1, 7)]
print(sample_space)

print("Total outcomes:", len(sample_space))

Sample space for rolling two dice:
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]
Total outcomes: 36

In [ ]:
sides = int(input("Enter sides on each die: "))
dice_count = int(input("Enter number of dice: "))

sample_space = [(i,) * dice_count for i in range(1, sides + 1)]

print("Sample space:", sample_space)
print("Total outcomes:", len(sample_space))

Enter sides on each die: 6
Enter number of dice: 2
Sample space: [(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]
Total outcomes: 6

In [ ]:
sample_space = [(die1, die2) for die1 in range(1, 7) for die2 in range(1, 7)]

print("Outcomes with sum = 5:")
for outcome in sample_space:
    if sum(outcome) == 5:
        print(outcome)

Outcomes with sum = 5:
(1, 4)
(2, 3)
(3, 2)
(4, 1)

In [ ]:
for i in range(1, 7):
    for j in range(1, 7):
        if i + j == 5:
            print(i, j)

1 4
2 3
3 2
4 1

In [ ]:
target_sum = int(input("Enter the target sum: "))

favorable_count = 0
total_count = 0

for i in range(1, 7):
    for j in range(1, 7):
        total_count += 1
        if i + j == target_sum:
            print(i, j)
            favorable_count += 1

probability = (favorable_count / total_count) * 100

print(f"Total outcomes: {total_count}")
print(f"Favorable outcomes (sum = {target_sum}): {favorable_count}")
print(f"Probability of sum = {target_sum}: {probability:.2f}%")

Enter the target sum: 6
1 5
2 4
3 3
4 2
5 1
Total outcomes: 36
Favorable outcomes (sum = 6): 5
Probability of sum = 6: 13.89%

In [ ]:
target_sum = int(input("Enter the target sum: "))

favorable_count = 0
total_count = 0

for i in range(1, 7):
    for j in range(1, 7):
        total_count += 1
        if i + j == target_sum:
            favorable_count += 1

probability = (favorable_count / total_count) * 100


print(f"Probability of sum = {target_sum}: {probability:.2f}%")

Enter the target sum: 6
Probability of sum = 6: 13.89%

In [ ]:
for target_sum in range(2, 13):
    favorable_count = sum(1 for i in range(1, 7) for j in range(1, 7) if i + j == target_sum)
    probability = (favorable_count / 36) * 100
    print(f"Probability of sum = {target_sum}: {probability:.2f}%")

Probability of sum = 2: 2.78%
Probability of sum = 3: 5.56%
Probability of sum = 4: 8.33%
Probability of sum = 5: 11.11%
Probability of sum = 6: 13.89%
Probability of sum = 7: 16.67%
Probability of sum = 8: 13.89%
Probability of sum = 9: 11.11%
Probability of sum = 10: 8.33%
Probability of sum = 11: 5.56%
Probability of sum = 12: 2.78%

In [ ]:
for target_sum in range(3, 19):
    favorable_count = sum(1 for i in range(1, 7) for j in range(1, 7) for k in range(1, 7) if i + j + k== target_sum)
    probability = (favorable_count / 216) * 100
    print(f"Probability of sum = {target_sum}: {probability:.2f}%")

Probability of sum = 3: 0.46%
Probability of sum = 4: 1.39%
Probability of sum = 5: 2.78%
Probability of sum = 6: 4.63%
Probability of sum = 7: 6.94%
Probability of sum = 8: 9.72%
Probability of sum = 9: 11.57%
Probability of sum = 10: 12.50%
Probability of sum = 11: 12.50%
Probability of sum = 12: 11.57%
Probability of sum = 13: 9.72%
Probability of sum = 14: 6.94%
Probability of sum = 15: 4.63%
Probability of sum = 16: 2.78%
Probability of sum = 17: 1.39%
Probability of sum = 18: 0.46%

In [ ]:
name = 'Akshit 274387huh@3@#$%%%% 454$%3%$#'

cleaned_name = ''
for char in name:
    if ('a' <= char <= 'z') or ('A' <= char <= 'Z'):
        cleaned_name += char

print(cleaned_name)

Akshithuh

In [ ]:
name = 'Alksndnsoj0 nwojosS288VM7##^#%%$$#@ #@%%#$$@$%#$@'

cleaned_name = ''
for char in name:
    if ('a' <= char <= 'z') or ('A' <= char <= 'Z'):
        cleaned_name += char

print(cleaned_name)

AlksndnsojnwojosSVM

In [ ]:
lst = []

for num in range(1,101):
      if num % 2 == 0 or num % 3 == 0 or num % 5 == 0:
        lst.append(num)
print("Numbers divisible by 2, 3, or 5:", lst)

average = sum(lst) / len(lst)
print("Average of these numbers:", average)

Numbers divisible by 2, 3, or 5: [2, 3, 4, 5, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98, 99, 100]
Average of these numbers: 51.108108108108105

In [ ]:
names = ["Aarav", "Aditi", "Aisha", "Amit", "Ananya", "Arjun", "Asha", "Diya", "Ishaan", "Neha", "Rahul", "Riya", "Rohan", "Sanya", "Vivaan"]

search_name = input("Enter the student name to search: ")
if search_name in names:
  index = names.index(search_name)
  print(f"{search_name} found at index {index}.")
else:
  print(f"{search_name} not found in the list.")

Enter the student name to search: Aditi
Aditi found at index 1.

In [ ]:
names = ["Aarav", "Aditi", "Aisha", "Amit", "Ananya", "Arjun", "Asha", "Diya", "Ishaan", "Neha", "Rahul", "Riya", "Rohan", "Sanya", "Vivaan"]


search_name = input("Enter the student name to search: ")

found = False
index = -1
for i in range(len(names)):
    if names[i].lower() == search_name.lower():
        found = True
        index = i+1
        break

if found:
    print(f"{search_name} is found at index {index}.")
else:
    print(f"{search_name} is not found in the list.")

Enter the student name to search: aditi
aditi is found at index 2.

In [ ]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]


for sublist in nested_list:
    row_sum = 0
    for num in sublist:
        row_sum += num
    print("Sum of this row:", row_sum)

Sum of this row: 6
Sum of this row: 15
Sum of this row: 24

In [ ]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

num_columns = len(nested_list[0])
for col in range(num_columns):
    col_sum = 0
    for row in nested_list:
        col_sum += row[col]
    print(f"Sum of column {col + 1}:", col_sum)

Sum of column 1: 12
Sum of column 2: 15
Sum of column 3: 18

In [ ]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
primary_diagonal_sum = 0
secondary_diagonal_sum = 0

for i in range(len(nested_list)):
    primary_diagonal_sum += nested_list[i][i]
    secondary_diagonal_sum += nested_list[i][len(nested_list) - 1 - i]

print("Sum of primary diagonal:", primary_diagonal_sum)
print("Sum of secondary diagonal:", secondary_diagonal_sum)

Sum of primary diagonal: 15
Sum of secondary diagonal: 15

In [ ]:

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


i = 0
j = 0


for x in range(3):

    i += nested_list[x][x]


    j += nested_list[x][2 - x]


print("Sum of i:", i)
print("Sum of j:", j)

Sum of i: 15
Sum of j: 15