### 1.List

#### 1.1.Access the elements through indexing

In [2]:
lst = ['Akshit','Ankur','Abhinav','Sakshi','Amankanth','Rahul']

print(lst[0])
print(lst[4])
print(lst[-1])

Akshit
Amankanth
Rahul

#### 1.2.Modify Values

In [3]:
lst = ['Akshit','Ankur','Abhinav','Sakshi','Amankanth','Rahul']

lst[2]='Yash'
print(lst)

['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']

#### 1.3.Slicing

In [4]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(lst[1:4])

['Ankur', 'Yash', 'Sakshi']

#### 1.4.Reverse a String

In [5]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(lst[::-1])

['Rahul', 'Amankanth', 'Sakshi', 'Yash', 'Ankur', 'Akshit']

#### 1.5.Appending

In [6]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(lst)
lst.append('Akshay')
print(lst)

['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul', 'Akshay']

#### 1.6.Removing

In [7]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
lst.remove('Sakshi')
print(lst)

['Akshit', 'Ankur', 'Yash', 'Amankanth', 'Rahul']

#### 1.7.Length

In [8]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(len(lst))

6

#### 1.8.Sorting

In [9]:
lst = [3,5,6,5,4,1,20,15,8,7,9]
print(sorted(lst))

[1, 3, 4, 5, 5, 6, 7, 8, 9, 15, 20]

#### 1.9.Find Element

In [10]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(lst.index('Yash'))

2

#### 1.10.Count

In [11]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
print(lst.count('Yash'))

1

#### 1.11.Extending

In [12]:
lst = ['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul']
lst1 = ['Akshay','Abhinav']
lst.extend(lst1)
print(lst)

['Akshit', 'Ankur', 'Yash', 'Sakshi', 'Amankanth', 'Rahul', 'Akshay', 'Abhinav']

#### 1.12.Finding maximum and mininmum

In [13]:
lst = [3,5,6,5,4,1,20,15,8,7,9]
print(min(lst))
print(max(lst))

1
20

#### 1.13.Iterating the element of list | Direct

In [15]:
lst = [3,5,6,5,4,1,20,15,8,7,9]
for i in lst:
  print(i)

3
5
6
5
4
1
20
15
8
7
9

#### 1.14.Iterating the element of list | Indexing

In [16]:
lst = [3,5,6,5,4,1,20,15,8,7,9]
for i in range(len(lst)):
  print(i,lst[i])

0 3
1 5
2 6
3 5
4 4
5 1
6 20
7 15
8 8
9 7
10 9

#### 1.15.Iterating the element of list in reverse

In [19]:
lst = [3,5,6,5,4,1,20,15,8,7,9]
for i in range(len(lst)-1,-1,-1):
  print(i,lst[i])

10 9
9 7
8 8
7 15
6 20
5 1
4 4
3 5
2 6
1 5
0 3

### 2.List Comprehension

#### 2.1.Square all the elements of list.

In [20]:
lst = [1,2,3,4,5,6,7,9,10]
lst= [i**2 for i in lst]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 81, 100]

#### 2.2.Finding first 10 even numbers.

In [26]:
print([i for i in range(21) if i%2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 2.3.Finding first 10 even numbers and square it.

In [27]:
print([i**2 for i in range(21) if i%2 == 0])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

#### 2.4.Multi-dimensional list.

In [28]:
print([[j for j in range(5)] for i in range(3)])

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

### 3.Dictionary

#### 3.1.Initializing the dictionary

In [29]:
dct = {1:'Akshit',2:'Ankur',3:'Abhinav',4:'Sakshi',5:'Amankanth',6:'Rahul'}
print(dct)

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul'}

#### 3.2.Accessing the elements.

In [33]:
print(dct)
print('-'*10)

print(dct[1])
print('-'*10)

print(dct.get(1))

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul'}
----------
Akshit
----------
Akshit

#### 3.3.Adding and updating the key-value pairs.

In [37]:
dct = {1:'Akshit',2:'Ankur',3:'Abhinav',4:'Sakshi',5:'Amankanth',6:'Rahul'}
dct[7] = 'Ankur'
print(dct)
dct[7]='sadaf'
print(dct)
dct[7]='Anmol'
print(dct)

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul', 7: 'Ankur'}
{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul', 7: 'sadaf'}
{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul', 7: 'Anmol'}

#### 3.4.Cleaning the dictionary.

In [38]:
print(dct)
dct.clear()
print(dct)

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul', 7: 'Anmol'}
{}

#### 3.5.Iterating through the dictionary.

In [46]:
dct = {1:'Akshit',2:'Ankur',3:'Abhinav',4:'Sakshi',5:'Amankanth',6:'Rahul'}
print(dct)
print(dct.keys())
print(dct.values())
print('-'*10)

for k in dct.keys():
  print(k,dct[k])
print('-'*10)

print(dct.items())
for k,v in dct.items():
  print(f"{k}.{v}")

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul'}
dict_keys([1, 2, 3, 4, 5, 6])
dict_values(['Akshit', 'Ankur', 'Abhinav', 'Sakshi', 'Amankanth', 'Rahul'])
----------
1 Akshit
2 Ankur
3 Abhinav
4 Sakshi
5 Amankanth
6 Rahul
----------
dict_items([(1, 'Akshit'), (2, 'Ankur'), (3, 'Abhinav'), (4, 'Sakshi'), (5, 'Amankanth'), (6, 'Rahul')])
1.Akshit
2.Ankur
3.Abhinav
4.Sakshi
5.Amankanth
6.Rahul

#### 3.6.Check if key is present.

In [47]:
print(dct)
print(1 in dct)
print('1' in dct)

{1: 'Akshit', 2: 'Ankur', 3: 'Abhinav', 4: 'Sakshi', 5: 'Amankanth', 6: 'Rahul'}
True
False

#### 3.7.dct updating the dictionaries.

In [50]:
dct_1 = {1:'A',2:'B',3:'C'}
dct_2 = {1:'a',2:'b',3:'c'}
print(dct_1)
print(dct_2)
dct_1.update(dct_2)
print(dct_1)
print(dct_2)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

### 4.Dictionary Comprehension.

In [51]:
dct = {i:i**2 for i in range(1,11)}
print(dct)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### 4.1.Dictionary with conditions.

In [52]:
dct = {i:i**2 for i in range(1,11) if i%2 == 0}
print(dct)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

#### 4.2.Dictionaries from lists

In [57]:
lst = ['Apple','Bananas','Grapes']
dct = {item:len(item) for item in lst}
print(lst)
print(dct)
dct = {len(item):item for item in lst}
print(dct)

['Apple', 'Bananas', 'Grapes']
{'Apple': 5, 'Bananas': 7, 'Grapes': 6}
{5: 'Apple', 7: 'Bananas', 6: 'Grapes'}

#### 4.3.Special keys with strings.

In [59]:
dct = {'num_' + str(i) : i for i in range(1,11)}
print(dct)
print('-'*10)

dct = {'num_' + str(i) : i for i in range(1,11)}
dct = {k:v for k,v in dct.items() if v%2 == 0}
print(dct)

{'num_1': 1, 'num_2': 2, 'num_3': 3, 'num_4': 4, 'num_5': 5, 'num_6': 6, 'num_7': 7, 'num_8': 8, 'num_9': 9, 'num_10': 10}
----------
{'num_2': 2, 'num_4': 4, 'num_6': 6, 'num_8': 8, 'num_10': 10}

In [63]:
matrix =[[1,2,3],[4,5,6],[7,8,9]]
final_dct = {matrix [i][j] :(i,j)   for i in range(3) for j in range(3) }
print(final_dct)

{1: (0, 0), 2: (0, 1), 3: (0, 2), 4: (1, 0), 5: (1, 1), 6: (1, 2), 7: (2, 0), 8: (2, 1), 9: (2, 2)}

### 5.Set and Tuple

#### 5.1.Creating a set.

In [1]:
my_Set = {1,2,3,4,5}
print(my_Set)
print(type(my_Set))

{1, 2, 3, 4, 5}
<class 'set'>

#### 5.2.Adding values.

In [2]:
print(my_Set)
my_Set.add(6)
print(my_Set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

#### 5.3.Popping values.

In [5]:
my_Set = {1, 2, 3, 4, 5, 6}
print(my_Set)


popped_element = my_Set.pop()
print(my_Set)
print(popped_element)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
----------
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
1

#### 5.4.Removing values.

In [7]:
my_Set = {1, 2, 3, 4, 5, 6}


print(my_Set)


my_Set.remove(6)
print(my_Set)
print('-'*10)

my_Set = {1, 2, 3, 4, 5, 6}
print(my_Set)
my_Set.discard(5)
print(my_Set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
----------
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}

#### 5.5.Iterrrating

In [8]:
my_set = {1, 2, 3, 4, 5, 6}
print(my_set)
for i in my_set:
  print(i)

{1, 2, 3, 4, 5, 6}
1
2
3
4
5
6

#### 5.6.Checking the value.

In [9]:
print(my_set)
print(1 in my_set)
print(10 in my_set)
print(9 in my_set)

{1, 2, 3, 4, 5, 6}
True
False
False

#### 5.7.Set operations.

In [14]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
print(set_1)
print(set_2)
print('-'*10)

print('Union: ',set_1.union(set_2))
print('Intersection: ', set_1.intersection(set_2))
print('Difference : ', set_1.difference(set_2))
print('Symmetric Diff : ', set_1.symmetric_difference(set_2))
print('-'*10)

print('Union: ', set_2.union(set_1))
print('Intersection: ', set_2.intersection(set_1))
print('Difference : ', set_2.difference(set_1))
print('Symmetric Diff : ', set_2.symmetric_difference(set_1))

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
----------
Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Difference :  {1, 2, 3}
Symmetric Diff :  {1, 2, 3, 6, 7, 8}
----------
Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Difference :  {8, 6, 7}
Symmetric Diff :  {1, 2, 3, 6, 7, 8}

#### 5.8.Clearing

In [15]:
my_set = {1, 2, 3, 4, 5, 6}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6}
set()

### 6.Tuple

#### 6.1.Tuple Initialization

In [16]:
tpl = (1,2,3,4,5)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

#### 6.2.Accessing

In [18]:
tpl = (1,2,3,4,5)
print(tpl[0])
print(tpl[2])

1
3

#### 6.3.Slicing

In [19]:
tpl = (1,2,3,4,5)
print(tpl[1:3])

(2, 3)

#### 6.4.Concatenate

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print("result =",result)

result = (1, 2, 3, 4, 5, 6)